*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
<<<<<<< HEAD
/* start section home */

header{
    height:300vh;
    background-image:url(../images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     width:100%
}

article{
    display:flex;
    /* height:100vh;
    */
    width:100%;
    

    flex-wrap: wrap;
    
    
}

article img:hover{
    transform: rotate(360deg);
    transition:5s;
    transform: scale(0.5);
}
.card{

    padding:20px;
     width:30%;
    height:120px; 
}
.card img{
    width:100%;
}
.navbar{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
/* start Home */
header{
    height: 100vh;
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     /* display:grid;
    justify-content: center;
    align-content: center;  */
    
}

.navbar{
    display:grid;
    grid-template-columns: 1fr 1fr  ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
}

ul{
    list-style:none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

a{
    text-decoration:none;
    color:aqua;
}
.logo{
   color:aquamarine;
   font-size:20px;
}
footer{
    color:aqua;
    background-color:black;
    text-align:center;
}
.hero p{
    text-align:center;
    color:black;
}

.hero h1{
    color:blueviolet;
    /* background-color: bisque; */
    text-align:center;
}
a:hover{
    background-color: blue;
}
.hero{
    padding:50px;
}

/* end section home */

/* start regesration  */

.navbar2{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======


}
ul{
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-content: center;
    

}
li{
    margin: 0 8px;
}
a{
    text-decoration: none;
    color:aqua;
    


}
.logo{
    color:blueviolet;
    font-weight:600;
    font-size:xx-large
}
.hero{
    color:brown;
    text-align:center;
    display:grid;
    justify-content: center;
    align-content: center;
}

/* article{
     padding:40px;
     display:grid;
     justify-content: center;
     align-content:center;
     margin:50px;
     display:grid;
    grid-template-columns: 1fr 1fr 1fr;

    
    
} */

.card1{
    padding:10px;
    /* margin:50px; */
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr;
     */
    
}

.card1 img{
    width:300px;
    height: 200px;

}

/* end home */

/* start registration */



.navbar2{
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-content: center;
}
li{
    margin:0 8px;
    
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
.logo2{
<<<<<<< HEAD
   color:blueviolet;
   font-size:20px;
}

form{
    padding:50px;
    height:100vh;
    background-image: url(../images/مدرسه\ وى.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.input1{
    padding:13px 11px;
    border-radius:13px;
    display:grid;
    grid-template-rows:13px;
    width:300px;
}

.but1{
border:1px solid red;
padding:10px  ;
margin:12px;
background-color: blue;
border-radius:10px;
width:60px;
}



/* end section registeration */

/* start section login */


main{
    background-image: url(../images/مدرسه\ وى.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar3{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

.form{
    display:grid;
    align-content:center;
    justify-content:center;
    width:50%;
    padding-top:50px;

}


.form1{
    padding:1rem;
}
/* end registration */

/* start login */

.navbar3{
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-content: center;
}
li{
    margin:0 8px;
    
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
.logo3{
<<<<<<< HEAD
   color:blueviolet;
   font-size:20px;
}

form{
    padding:50px;
    height:100vh;
    background-image: url(../images/مدرسه\ وى.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:grid
=======
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

.form3{
    display:grid;
    justify-content:center;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    
}

.input2{
<<<<<<< HEAD
    padding:13px 11px;
    border-radius:13px;
    display:grid;
    grid-template-rows:13px;
    width:300px;
}

.but2{
border:2px solid red;
padding:10px  ;
margin:15px;
background-color: blue;
border-radius:10px;
width:100px;
}



/* end section login */

/* start section booking */

.navbar4{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
    border-radius: 11px;
    
    
}


/* end login */

/* start booking */


.navbar4{
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr   ;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-content: center;
}
li{
    margin:0 8px;
    
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
.logo4{
<<<<<<< HEAD
   color:blueviolet;
   font-size:20px;
}
.main4{
    height: 100vh;
}

form{
    padding:50px;
    /* height:1vh; */
    background-image: url(../images/مدرسه\ وى.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.input3{
    padding:13px 11px;
    border-radius:13px;
    display:grid;
    grid-template-rows:13px;
    width:300px;
}

.but3{
border:2px solid red;
padding:10px  ;
margin:15px;
background-color: blue;
border-radius:10px;
width:100px;
}

textarea{
    border-radius:10px;
    padding:10px;
    margin:6px;
    width:300px;
    background-color: bisque;
}
main{
    height:100vh;
}
.gender-box{
    border:2px solid red;
    width:250px;
    padding: 15px;
    border-radius: 10px;
    text-align:center;
    margin:0 auto;
    position:relative;

}


/* end section  booking */

/* start section blog */

   .navbar6{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

button{
    border-radius: 20px;
    margin:10px;
    padding:10px;
}

.gender-box{
    border:2px solid red;
    width:50px;
    padding:15px;
    border-radius:10px;
    text-align:center;
  

}

input{
    padding:13px 8px;
    border-radius:13px;
    margin: 10px;    
}



/* end registration */

/* start log in */

.navbar3{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    gap:10px;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
<<<<<<< HEAD
.main5{
    height:300vh;
}
.logo5{
   color:blueviolet;
   font-size:20px;
}

.blog{
    text-align:center;
    padding:40px 0;
}

 .blog{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:15px;
    padding:40px;

}
.blog-card{
    text-align:center;
    border-radius:15px;
}
.blog-card img{
    border-radius:50%;
}

/* end section blog */




/* start section about */
.navbar5{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
.logo3{
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

/* end login */

/* start booking */


ul{
    list-style:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
}
a{
    text-decoration:none;
    color:aqua;
}
.logo4{
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

article{
    display:flex;
    width: 100%;
    text-align:center;
    padding-top:60px;

}
.card1 p{
    color:aqua;
}
form{
    display:grid;
   /* align-content:center; */
   justify-content:center;
   padding:15rem;

   width:300px;
   /* height:300px; */
}
/* end booking */

/* start media  */
@media (min-width:400px) and (max-width:961px) {
    article{
        display:flex;
        flex-wrap:wrap;

        justify-content: center;
        align-items: center;
        
    }
}


@media (min-width:400px) and (max-width:820px) {
    article{
        display:flex;
        flex-wrap:wrap;

    }

}


/* end meadia screen */


/* start  section blog  */

.continar-card{
display:grid;
grid-template-columns: 1fr 1fr 1fr ;
gap:10px;

}

.cards img{
    width:200px;
    height:250px;
    margin-top:100px;
    margin-left:50px;
    border-radius:50%;

   
}
.cards{
    transition:5s;
    
}
.cards img:hover{
    transform: rotateY(100deg);
    transform: scale(0.5);
    transform: skew(30deg);
}
/* .cards h3{
    text-align:center;
} */



.navbar5{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    gap:10px;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
a{
    text-decoration:none;
    color:aqua;
}
.logo5{
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

/* end section blog */

/* start section about */


.navbar6{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
    position:fixed;
    left:0;
    right:0;
    top:0;

}

ul{
    list-style:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
.logo6{
<<<<<<< HEAD
   color:blueviolet;
   font-size: 20px;
}
.main6{
    height: 300vh;;
}

.about-image img{
    border-left:10px solid white;
    padding-left:10px;
    border-top:10px solid white;
    padding-top:10px;
    margin:11px;
    margin-top:50px;
    
}

/* end section about */


/* start section contact */

.navbar7{
    background-color: black;
    display:grid;
    grid-template-columns:1fr 3fr ;
=======
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}

.continar-about{
    padding-top:50px;
    padding-left:50px;
}
.about img{
    width:300px;
    height:300px;
    border-radius:50%;
}

.cards22{
    padding:120px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.continar-card3{
    padding:120px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;

}
.card2 h2{
    text-align:center;
}

.continar-card1{
    padding:120px;
}

span{
    color:green;
}

.continar-card2 h2{
    padding-bottom:40px;
    
}
.continar-card1 h2{
    padding-bottom:40px;
}
.card2 p{
    color:aqua;
    font-size:20px;
}








/* end section about  */

/* start section contact */

.navbar7{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    background-color: black;
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
    position:fixed;
    left:0;
    right:0;
    top:0;
<<<<<<< HEAD
=======

>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
}

ul{
    list-style:none;
<<<<<<< HEAD
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    gap:10px;
}

=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
a{
    text-decoration:none;
    color:aqua;
}
.logo7{
<<<<<<< HEAD
   color:blueviolet;
   font-size:10px;
}
input{
    border-radius: 12px;
    color:blueviolet;
    background-color: blanchedalmond;

}

button{
    border-radius: 13px;
    background-color:brown;
}

.card img{
    width:100%;
}
/* end section contact */



 @media (min-width: 400px) and (max-width: 961px){
    article{
        display:flex;
        flex-wrap:wrap;
        
       
    }
}

/* @media (min-width:400px) and (max-width:820px){
    .blog-page  .blog{
        display:flex;
        flex-wrap:wrap;



    }
} */


=======
    color:blueviolet;
    font-weight:600;
    font-size:xx-large;
}
.form7{
    padding-top:50px;
}

/* end sectiion contact */


@media (min-width:963px) and (max-width:961px) {
    .continar-card3{
        display:flex;
        flex-wrap:wrap;

        justify-content: center;
        align-items: center;
        
    }
}


@media (min-width:400px) and (max-width:820px) {
    .continar-card3{
        display:flex;
        flex-wrap:wrap;

    }

}
>>>>>>> ca33b91d73524d18187d53e20ff6041bdcda99a1
